In [17]:
import pandas as pd
nasdaq_df = pd.read_csv("NASDAQ.txt", sep="\t")
nyse_df = pd.read_csv("NYSE.txt", sep="\t")
nasdaq_df.merge(nyse_df)
df = pd.concat([nasdaq_df, nyse_df])
df.head()

  Symbol                       Description
0   AACB    Artius II Acquisition Inc Cl A
1  AACBR  Artius II Acquisition Inc Rights
2  AACBU   Artius II Acquisition Inc Units
3   AACG         Ata Creativity Global ADR
4   AACI         Armada Acquisition Corp I

In [20]:
d = {}
def add_code(symbol, name):
    s = f"{name} ({symbol})"
    d[s] = symbol
df.apply(lambda x: add_code(x["Symbol"], x["Description"]), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
2900    None
2901    None
2902    None
2903    None
2904    None
Length: 7862, dtype: object

In [21]:
import json
with open("stocks.json", "w") as f:
    json.dump(d, f)